.datetime-picker {
  font-size: 18px;
}
.field {
  margin-right: 30px;
}
.value {
  display: flex;
  justify-content: center;
  font-size: 40px;
}
.label {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
